
.depicter-revert .depicter-13-element-10{
	background-color:transparent;
}
.depicter-revert .depicter-13-element-10:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-13-element-10:not(.depicter-hover-off):hover {
	background-color:transparent;
}
.depicter-13-element-10 .depicter-symbol-container{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-13-element-10:hover .depicter-symbol-container{
	fill:rgba(0, 0, 0, 0.5);
}
.depicter-revert .depicter-13-element-11{
	background-color:transparent;
}
.depicter-revert .depicter-13-element-11:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-13-element-11:not(.depicter-hover-off):hover {
	background-color:transparent;
}
.depicter-13-element-11 .depicter-symbol-container{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-13-element-11:hover .depicter-symbol-container{
	fill:rgba(0, 0, 0, 0.5);
}
.depicter-revert .depicter-13-element-9{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#1784E4;
}
.depicter-revert .depicter-13-element-9:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-13-element-9:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-13-element-8{
	opacity:0.7;
	font-size:20px;
	color:#000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-7{
	font-size:20px;
	color:#1784E4;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-6{
	font-size:70px;
	color:#000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-5{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-4{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-3{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-2{
	border-radius:10px;
}
.depicter-revert .depicter-13-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-13-element-38{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#1784E4;
}
.depicter-revert .depicter-13-element-38:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-13-element-38:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-13-element-37{
	opacity:0.7;
	font-size:20px;
	color:#000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-36{
	font-size:20px;
	color:#1784E4;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-35{
	font-size:70px;
	color:#000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-34{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-33{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-32{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-31{
	border-radius:10px;
}
.depicter-revert .depicter-13-section-30 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-13-element-47{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#1784E4;
}
.depicter-revert .depicter-13-element-47:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-13-element-47:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-13-element-46{
	opacity:0.7;
	font-size:20px;
	color:#000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-45{
	font-size:20px;
	color:#1784E4;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-44{
	font-size:52px;
	color:#000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-43{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-42{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-41{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-40{
	border-radius:10px;
}
.depicter-revert .depicter-13-section-39 .depicter-section-background{
	background-color:#FFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-13-element-10{
	background-color:transparent;
}
.depicter-revert .depicter-13-element-10:not(.depicter-hover-off):hover {
	background-color:transparent;
}
.depicter-13-element-10 .depicter-symbol-container{
	fill:#000000;
}
.depicter-13-element-10:hover .depicter-symbol-container{
	fill:#3B61F4;
}
.depicter-13-element-11 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-13-element-9{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#00AB79;
}
.depicter-revert .depicter-13-element-9:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-13-element-8{
	font-size:14px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-6{
	font-size:60px;
	color:#000000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-38{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#00AB79;
}
.depicter-revert .depicter-13-element-38:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-13-element-37{
	font-size:14px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-35{
	font-size:60px;
	color:#000000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-section-30 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-47{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#00AB79;
}
.depicter-revert .depicter-13-element-47:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-13-element-46{
	font-size:14px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-44{
	font-size:60px;
	color:#000000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-section-39 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-13-element-10{
	background-color:transparent;
}
.depicter-revert .depicter-13-element-10:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-13-element-10:not(.depicter-hover-off):hover {
	background-color:transparent;
}
.depicter-13-element-10 .depicter-symbol-container{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-13-element-10:hover .depicter-symbol-container{
	fill:#3B61F4;
}
.depicter-13-element-11 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-13-element-9{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#00AB79;
}
.depicter-revert .depicter-13-element-8{
	font-size:12px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-7{
	font-size:18px;
	color:#00AB79;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-6{
	font-size:40px;
	color:#000000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-5{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-4{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-3{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-38{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#00AB79;
}
.depicter-revert .depicter-13-element-37{
	font-size:12px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-36{
	font-size:18px;
	color:#00AB79;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-35{
	font-size:40px;
	color:#000000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-34{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-33{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-32{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-section-30 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-47{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	background-color:#00AB79;
}
.depicter-revert .depicter-13-element-46{
	font-size:12px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:150%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-45{
	font-size:18px;
	color:#00AB79;
	font-family:"Montserrat";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-44{
	font-size:40px;
	color:#000000;
	font-family:"Alatsi";
	font-weight:400;
	line-height:112%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-13-element-43{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-42{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-element-41{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-13-section-39 .depicter-section-background{
	background-color:#FFFFFF;
}

}
